<!DOCTYPE html>
{% extends 'CarApp/home.html' %}
{% load static %}
{% block content %}
<div id="div5">
    <img src="{% static 'images/img_7.png' %}" alt="car service" width="85%"><br/><br/>
    <b><p id="p1" style="font-size: 25px">We give better Service to make your Journey Safe and Comfortable<p></b>
    <b><p id="p1"style="font-size: 25px">Soon you get a call from our Mechanic to Shedule the pickup time. Please be avaliable </p></b>
    <b><p id="p1"style="font-size: 25px">Thankyou for choosing us for your car</p></b>
    <b><a href="/customer/"><button id="btn1" type="submit">Back</button></a></b>

<marquee behavior="scroll" direction="right">
  <b><p align="center">Hello Clients! My Name is Uppala Yashwanth, I developed this website to improve my skills in Web development. </p></b>
    <b><p align="center">I used Both Back and Front end development to make flexiable to the user in all the provided services</p></b>
                <b><p align="center">I hope you loved this website and contact me for any queries</p></b>
                                        <b><p align="center">Thankyou!</p></b>

</marquee>
</div>
{% endblock %}